h2:hover{
    color: red;
    background-color: green;
}

input:focus{
    background-color: bisque;
    outline: none;
    padding: 20px;
    color: red;
}

a:visited{
    color: grey;

}

li:nth-child(2n+1){
    background-color: aqua;
}