.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.flags-container img{
    width:100px;
}

@media  screen and (max-width:900px) {
    .country-container{
        grid-template-columns: repeat(2,1fr);
    }

}

@media  screen and (max-width:600px) {
    .country-container{
        grid-template-columns: repeat(1,1fr);
    }
    
}