*{
    margin: 0;
    padding: 0;
}

.btn-container{
    text-align: center;
}

.btn{
    background-color: aquamarine;
    border: none;
    padding: 17px 21px 17px 21px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    
}

#hero{
    height: 600px;
    background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

 #hero .hero-content{
        width:467px
}

#hero .hero-content .subtitle{
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0px;
    opacity: .7;
    margin-bottom: 24px;
}

#hero .hero-content .title{
    color:aliceblue ;
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;


}

#hero .hero-content .description{
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    opacity: .7;
    line-height: 21px;
    margin-bottom: 23px;
}




